html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 360px;
  background-color: #F7F8FA;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #276BFF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, span {
  font-family: 'Inter', sans-serif;
}
